body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header {
    display: flex;
    flex-direction: column;
    background: #1F2937;
    height: 440px;
}

.top-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-logo {
    color: #F9FAF8;
    font-size: 24px;
    
}

.header-writing {
    display: flex;
    flex-direction: column;
    width: 400px;
}

ul {
    display: flex;
    list-style-type: none;
    font-size: 15px;
    gap: 8px;
    
}

a {
    text-decoration: none;
    color: white;
}

.header-content {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header-content .bold-text {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
    
}

.header-writing p {
    color: #D8D3D2
}

.sign-up {
    border: 1px solid white;
    background-color: #3882F6;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    color: white;
}

.header-img img {
    width: 200px;
}





.section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 350px;
}

.title-second {
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
    margin-top: 20px;
}

img {
    width: 130px;
}

.images {
    margin: 50px;
    display: flex;
    gap: 8px;
    justify-content: center;
}

.info {
    max-width: 200px;
}







.quote-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #E5E7EB;
    height: 250px;
    font-size: 36px;
    font-style: italic;
    color: #898989;
    
}



